<div class="topbar_header">
    <div class="container">
        <div class="col-md-12">
            <div class="inner_headerTopbar">
                <!--<ul class="topbar_left pull-left">
                    <li>
                        <a href="javascript:void(0)" id="country" class="dropdown-text">
                            <span>Country</span>
                            <i class="topbar-icon icons-dropdown fa fa-angle-down"></i>
                        </a>

                        <ul class="dropdown-topbar list-unstyled">
                            <li><a href="#">Japan</a></li>
                            <li><a href="#">Korea</a></li>
                            <li><a href="#">China</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" id="tb_lang" class="dropdown-text">
                            <span>English</span>
                            <i class="topbar-icon icons-dropdown fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-topbar list-unstyled">
                            <li><a href="#">Lang-Japan</a></li>
                            <li><a href="#">Lang-Korea</a></li>
                            <li><a href="#">Lang-China</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" id="tb_crncy" class="dropdown-text">
                            <span>USD</span>
                            <i class="topbar-icon icons-dropdown fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-topbar list-unstyled">
                            <li><a href="#">Yen</a></li>
                            <li><a href="#">Won</a></li>
                            <li><a href="#">Ren</a></li>
                        </ul>
                    </li>
                </ul>-->

                <div class="topbar_left pull-left">
                    <ul class="my-nav">
                        <li>
                            <details class="dropdown">
                                <summary>Country</summary>
                                <ul>
                                    <li><a href="#">Japan</a></li>
                                    <li><a href="#">Korea</a></li>
                                    <li><a href="#">China</a></li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details class="dropdown">
                                <summary>English</summary>
                                <ul>
                                    <li><a href="#">Lang-Japan</a></li>
                                    <li><a href="#">Lang-Korea</a></li>
                                    <li><a href="#">Lang-China</a></li>
                                </ul>
                            </details>
                        </li>

                        <li>
                            <details class="dropdown">
                                <summary>USD</summary>
                                <ul>
                                    <li><a href="#">Yen</a></li>
                                    <li><a href="#">Won</a></li>
                                    <li><a href="#">Ren</a></li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>


                <ul class="topbar-right pull-right list-unstyled list-inline login-widget">
                    <li>
                        <a href="sign-up.html" class="item">login</a>
                    </li>
                    <li>
                        <a href="register.html" class="item">register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="navigation">
    <div class="container">
        <div class="nav-container">
            <div class="brand">
                <a class="navbar-brand" href="/Home/Index"><img src="../assets/images/logobm.png" /></a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/Home/Index">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Find Guid
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            How It Works
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Flights
                        </a>
                    </li>
                    <li>
                        <a href="#">Lang</a>
                        <ul class="nav-dropdown">
                            <li><a href="/Home/ChangeLanguage/1">English</a></li>
                            <li><a href="/Home/ChangeLanguage/2">Arabic</a></li>
                            <li><a href="/Home/ChangeLanguage/3">French</a></li>
                            <li><a href="/Home/ChangeLanguage/4">Chinese</a></li>
                            <li><a href="/Home/ChangeLanguage/7">Hindi</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>